@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

blockquote {
	clear: right;
}

blockquote.sent {
	border-left-color: #3276b1;
}

blockquote.pull-right {
	border-right-color: #3276b1;
}

.list-unstyled > li > span {
	padding-bottom: 0.2em;
}

.list-unstyled > li > span + span {
	padding-left: 1em;
}

label > a {
	padding-left: 1em;
}

span.csv:after {
    content: ', '
}

span.csv:last-child:after {
    content: ''
}
