@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	padding-top: 60px;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	margin-bottom: 0.8em;
}

blockquote {
	clear: right;
}

blockquote.sent {
	border-left-color: #3276b1;
}

blockquote.pull-right {
	border-right-color: #3276b1;
}

button[type=submit] {
	margin-top: 1em;
}
